body {
	font-family: 'Source Sans Pro', sans-serif;
	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.subheading	{
	 font-family: 'Source Sans Pro', sans-serif;
	 font-size: 1.2rem;
	 font-weight:normal;
}

h1, h2, h3, h4, h5, h6, .subheading{
	text-transform: none;
}

h1, .h1 {
	font-size: 4.5rem;
	text-align:center;
}

p.led {
	font-size: 1.2rem;
}

.bg-primary {
	background-color:#6d8558!important;
	background-image:url(../assets/img/always-grey.png);
	
}

.text-primary {
	color:#6d8558!important;
}

a {
	color:#6d8558;
}

#mainNav .navbar-brand img{
    height:4.0rem;
}

.portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
.portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9BBC49;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
.portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
.portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
.portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
.portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}